body {
    margin: 0;
    text-align: center;
    /* Define font that used in the body */
    /* font-family: verdana ,sans-serif; */
    font-family: 'Quicksand', sans-serif;
}
/* Decrease spcae between heading and top space */
/* Text align doesn't effect the element that don't have width */
h1 {
    /* margin-top: 10px; */
    font-family: 'Dancing Script', cursive;
    width: 10%;
    /* Use this to set CENTER instead */
    margin: 0 auto 0 auto; 
    top: 100px;
}


/* *****************************CLASS INSPECTOR************************************ */
.top-container {
    background-color: #F4EAE6;
    position: relative;
    /* height: 200px; */
    /* width: 200px; */
    padding: 100px;
    /* border: solid 10px; */
    /* border-color: black;  */
}
.middle-container {
    background-color: #4297A0;
    height: 200px;
    width: 200px;
    border: solid 20px;
    border-color: black; 
    /* margin-left: 260px; */
}
.bottom-container {
    background-color: #E57F84;
    height: 200px;
    width: 200px;
    border: solid 10px;
    border-color: black; 
    /* margin-left: 500px; */
}
.pro{
    font-weight: bold;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    
}

